.modal {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  background-color: #000000f0;
  border-radius: 15px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  h3 {
    font-size: 30px;
    text-align: center;
    padding: 30px 0 8px 0;
    font-family: $title-font;
  }
  h4 {
    font-style: italic;
  }
  button {
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 30px;
    border: none;
    margin: 10px 0;
    background: linear-gradient(to top, #232526, #414345)
  }
}

.basic-info {
  text-align: center;
  margin: 10px 0;
}

.descriptions {
  width: 85%;
  text-align: center;
.short-desc {
  font-style: italic;
  overflow-y: scroll;
  max-height: 100px;
}
.long-desc {
    overflow-y: scroll;
    text-align: left;
    max-height: 180px;
    margin: 20px 0;
  }
}

.hidden {
  display: none;
}
