.App {
  text-align: center;
  background: url('https://images.unsplash.com/photo-1530445007902-6a7a5743b69e?ixlib=rb-1.2.1&auto=format&fit=crop&w=963&q=80')no-repeat center center fixed;
}

h1 {
  margin: 0;
  padding: 25px 0 0px 0;
  font-size: 4rem;
  font-family: $title-font;
  color: rgba(255, 255, 255, 0.86);
}
